.places {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.place img {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 345px;
}
.place {
    flex-basis: 30%;
    position: relative;
}
.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    cursor: pointer;
    font-size: 24px;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.place:hover .caption {
    opacity: 1;
    padding-top: 0;
}