.places {
    margin: 80px auto;
    width: 90%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.place img {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 345px;
    object-fit: cover;
}
.place {
  position: relative;
  width: 100%;
  max-width: 400px; 
  aspect-ratio: 4 / 3; 
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  flex-wrap: wrap;
}
.hawai {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.caption {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none; 
  border-radius: 12px;
  overflow: hidden;
}
.place:hover .caption {
    opacity: 1;
    padding-top: 0;
}