.book-place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.destination {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 5px 10px;
    width: 1000px;
}
p {
    color: #2d232e;
    font-size: 20px;
    margin: 0px 10px;
}
@media(max-width: 727px) {
    .book {
        margin-top: 150px;
    }
    .destination {
        width: 350px;
    }
}
@media(min-width: 728px) and (max-width: 1023px) {
    .destination {
        width: 550px;
    }
}
