.about {
    padding: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left {
    flex-basis: 40%;
    position: relative;
}
.about-right {
    flex-basis: 50%;
}
.video {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  padding-top: 60px; 
}
.video iframe {
  width: 40em;
  height: 24em;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.about h3 {
    font-size: 40px;
    font-weight: 600;
    color: #2d232e;
    padding-top: -40px;
    padding-bottom: 10px;
    padding-left: 35px;
    max-width: 400px;
}
.about p {
    color: #2d232e;
    padding-bottom: 15px;
    padding-left: 40px;
}